* {
    margin: 0;
    padding: 0;
}

.app::before {
    content: '';
    background: url('./images/bg_ocean.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.inp-field {
    text-align: center;
    padding: 1rem;
}

.inp-field input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 1px solid grey;
    background: rgba(255, 255, 255, 0.5);
    color: #8f8f8f;
}

.container {
    margin-top: 10vh;
    text-align: center;
}

.city p {
    font-style: oblique;
    font-size: 3rem;
    color: #fff;
}

.temp h1 {
    color: #fff;
    font-size: 10rem;
}

.desc p {
    color: #fff;
    font-size: 2rem;
}

.footer {
    margin: 20vh auto 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
}

.bold {
    font-weight: 800;
}

.feels p,
.humidity p,
.wind p {
    text-align: center;
    font-size: 1.35rem;
}